[submodule "vendor/mandango"]
	path = vendor/mandango
	url = http://github.com/mandango/mandango.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = http://github.com/doctrine/mongodb-odm.git
[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = http://github.com/doctrine/mongodb.git
[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = http://github.com/symfony/ClassLoader.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = http://github.com/doctrine/common.git
[submodule "vendor/propel"]
	path = vendor/propel
	url = git://github.com/Xosofox/propel.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = http://github.com/doctrine/dbal.git
[submodule "vendor/doctrine-orm"]
	path = vendor/doctrine-orm
	url = http://github.com/doctrine/doctrine2.git
