/.github export-ignore
/tests export-ignore
.gitattributes export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
code_of_conduct.md export-ignore
phpunit.xml.dist export-ignore
README.md export-ignore
