includes:
  - phpstan-baseline.neon
parameters:
  level: 8
  paths:
    - %currentWorkingDirectory%/lib
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  ignoreErrors:
    # Ignore errors for incompatible types, types are checked at runtime and exceptions thrown as appropriate
    - '/Parameter #1 \$adapters of class Pagerfanta\\Adapter\\ConcatenationAdapter constructor expects array<Pagerfanta\\Adapter\\AdapterInterface>, array<int, Pagerfanta\\Adapter\\ArrayAdapter\|string> given\./'

    # Ignore errors from tests validating runtime type checks
    -
      message: '/Parameter #2 \$countQueryBuilderModifier of class Pagerfanta\\Adapter\\DoctrineDbalAdapter constructor expects callable\(Doctrine\\DBAL\\Query\\QueryBuilder\): void, stdClass given\./'
      path: %currentWorkingDirectory%/tests/Adapter/DoctrineDbalAdapterTest.php

    -
      message: '/Call to method PHPUnit\\Framework\\Assert::assertSame\(\) with Elastica\\ResultSet\&PHPUnit\\Framework\\MockObject\\MockObject and null will always evaluate to false\./'
      path: %currentWorkingDirectory%/tests/Adapter/ElasticaAdapterTest.php

    -
      message: '/Parameter #1 \$client of class Pagerfanta\\Adapter\\SolariumAdapter constructor expects Solarium\\Core\\Client\\Client\|Solarium_Client, stdClass given\./'
      path: %currentWorkingDirectory%/tests/Adapter/SolariumAdapterTestCase.php

    -
      message: '/Parameter #2 \$query of class Pagerfanta\\Adapter\\SolariumAdapter constructor expects Solarium\\QueryType\\Select\\Query\\Query\|Solarium_Query_Select, stdClass given\./'
      path: %currentWorkingDirectory%/tests/Adapter/SolariumAdapterTestCase.php

    -
      message: '/Parameter #2 \$viewName of method Pagerfanta\\Twig\\Extension\\PagerfantaRuntime::renderPagerfanta\(\) expects array\|string\|null, stdClass given\./'
      path: %currentWorkingDirectory%/tests/Twig/PagerfantaRuntimeTest.php

    -
      message: '/Parameter #2 \$routeGenerator of method Pagerfanta\\Twig\\View\\TwigView::render\(\) expects callable\(\): mixed, stdClass given\./'
      path: %currentWorkingDirectory%/tests/View/TwigViewTest.php

  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
