parameters:
  level: 6
  paths:
    - %currentWorkingDirectory%/lib
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  ignoreErrors:
    # Ignore errors for incompatible types, types are checked at runtime and exceptions thrown as appropriate
    - '/Parameter #1 \$adapters of class Pagerfanta\\Adapter\\ConcatenationAdapter constructor expects array<Pagerfanta\\Adapter\\AdapterInterface>, array<int, Pagerfanta\\Adapter\\ArrayAdapter\|string> given\./'

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
