parameters:
	ignoreErrors:
		-
			message: "#^Method Pagerfanta\\\\Doctrine\\\\Collections\\\\CollectionAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/Collections/CollectionAdapter.php

		-
			message: "#^Method Pagerfanta\\\\Doctrine\\\\Collections\\\\SelectableAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/Collections/SelectableAdapter.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, iterable\\<\\(int\\|string\\), int\\> given\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/Collections/Tests/CollectionAdapterTest.php

		-
			message: "#^Method Pagerfanta\\\\Doctrine\\\\DBAL\\\\QueryAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/DBAL/QueryAdapter.php

		-
			message: "#^Method Pagerfanta\\\\Doctrine\\\\DBAL\\\\QueryAdapter\\:\\:getSlice\\(\\) should return iterable\\<\\(int\\|string\\), T\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/DBAL/QueryAdapter.php

		-
			message: "#^Method Pagerfanta\\\\Doctrine\\\\MongoDBODM\\\\QueryAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns array\\<string, mixed\\>\\|int\\|object\\|null\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/MongoDBODM/QueryAdapter.php

		-
			message: "#^Method Pagerfanta\\\\Doctrine\\\\MongoDBODM\\\\QueryAdapter\\:\\:getSlice\\(\\) should return iterable\\<\\(int\\|string\\), T\\> but returns array\\<string, mixed\\>\\|int\\|object\\|null\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/MongoDBODM/QueryAdapter.php

		-
			message: "#^PHPDoc tag @var for variable \\$aggregation contains unresolvable type\\.$#"
			count: 2
			path: lib/Adapter/Doctrine/MongoDBODM/Tests/AggregationAdapterTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: lib/Adapter/Doctrine/MongoDBODM/Tests/AggregationAdapterTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with ArrayIterator\\<\\*NEVER\\*, \\*NEVER\\*\\> and iterable will always evaluate to false\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/MongoDBODM/Tests/QueryAdapterTest.php

		-
			message: "#^PHPDoc tag @var for variable \\$query contains unresolvable type\\.$#"
			count: 2
			path: lib/Adapter/Doctrine/MongoDBODM/Tests/QueryAdapterTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: lib/Adapter/Doctrine/MongoDBODM/Tests/QueryAdapterTest.php

		-
			message: "#^Cannot access offset 0 on Traversable\\<\\(int\\|string\\), mixed\\>\\.$#"
			count: 3
			path: lib/Adapter/Doctrine/ORM/Tests/QueryAdapterTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with ArrayIterator\\<\\*NEVER\\*, \\*NEVER\\*\\> and iterable will always evaluate to false\\.$#"
			count: 1
			path: lib/Adapter/Doctrine/PHPCRODM/Tests/QueryAdapterTest.php

		-
			message: "#^Method Pagerfanta\\\\Elastica\\\\ElasticaAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 2
			path: lib/Adapter/Elastica/ElasticaAdapter.php

		-
			message: "#^Method Pagerfanta\\\\Elastica\\\\ElasticaAdapter\\:\\:getSlice\\(\\) should return iterable\\<\\(int\\|string\\), T\\> but returns Elastica\\\\ResultSet\\.$#"
			count: 1
			path: lib/Adapter/Elastica/ElasticaAdapter.php

		-
			message: "#^Method Pagerfanta\\\\Solarium\\\\SolariumAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns int\\|null\\.$#"
			count: 1
			path: lib/Adapter/Solarium/SolariumAdapter.php

		-
			message: "#^Parameter \\#2 \\$length of method Pagerfanta\\\\Adapter\\\\AdapterInterface\\<T\\>\\:\\:getSlice\\(\\) expects int\\<0, max\\>, int given\\.$#"
			count: 1
			path: lib/Core/Adapter/ConcatenationAdapter.php

		-
			message: "#^Method Pagerfanta\\\\Pagerfanta\\:\\:calculateNbPages\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: lib/Core/Pagerfanta.php

		-
			message: "#^Method Pagerfanta\\\\Pagerfanta\\:\\:getPageNumberForItemAtPosition\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: lib/Core/Pagerfanta.php

		-
			message: "#^Property Pagerfanta\\\\Tests\\\\Adapter\\\\ArrayAdapterTest\\:\\:\\$adapter \\(Pagerfanta\\\\Adapter\\\\ArrayAdapter\\<int\\<1, 100\\>\\>\\) does not accept Pagerfanta\\\\Adapter\\\\ArrayAdapter\\<int\\>\\.$#"
			count: 1
			path: lib/Core/Tests/Adapter/ArrayAdapterTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with ArrayObject\\<\\*NEVER\\*, \\*NEVER\\*\\> and iterable will always evaluate to false\\.$#"
			count: 1
			path: lib/Core/Tests/Adapter/CallbackAdapterTest.php

		-
			message: "#^Property Pagerfanta\\\\Tests\\\\Adapter\\\\TransformingAdapterTest\\:\\:\\$adapter \\(Pagerfanta\\\\Adapter\\\\TransformingAdapter\\<int\\<1, 100\\>, string\\>\\) does not accept Pagerfanta\\\\Adapter\\\\TransformingAdapter\\<int, string\\>\\.$#"
			count: 2
			path: lib/Core/Tests/Adapter/TransformingAdapterTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with ArrayObject\\<\\*NEVER\\*, \\*NEVER\\*\\> and iterable will always evaluate to false\\.$#"
			count: 2
			path: lib/Core/Tests/PagerfantaTest.php

		-
			message: "#^Method Pagerfanta\\\\View\\\\View\\:\\:calculateEndPageForStartPageUnderflow\\(\\) should return int\\<1, max\\> but returns int\\.$#"
			count: 1
			path: lib/Core/View/View.php

		-
			message: "#^Method Pagerfanta\\\\Twig\\\\Tests\\\\Extension\\\\PagerfantaRuntimeTest\\:\\:createPagerfanta\\(\\) should return Pagerfanta\\\\Pagerfanta\\<int\\<1, 100\\>\\> but returns Pagerfanta\\\\Pagerfanta\\<int\\>\\.$#"
			count: 1
			path: lib/Twig/Tests/Extension/PagerfantaRuntimeTest.php

		-
			message: "#^Method Pagerfanta\\\\Twig\\\\Tests\\\\View\\\\TwigViewIntegrationTest\\:\\:createPagerfanta\\(\\) should return Pagerfanta\\\\Pagerfanta\\<int\\<1, 100\\>\\> but returns Pagerfanta\\\\Pagerfanta\\<int\\>\\.$#"
			count: 1
			path: lib/Twig/Tests/View/TwigViewIntegrationTest.php

		-
			message: "#^Method Pagerfanta\\\\Twig\\\\Tests\\\\View\\\\TwigViewTest\\:\\:createPagerfanta\\(\\) should return Pagerfanta\\\\Pagerfanta\\<int\\<1, 100\\>\\> but returns Pagerfanta\\\\Pagerfanta\\<int\\>\\.$#"
			count: 1
			path: lib/Twig/Tests/View/TwigViewTest.php

