<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        bootstrap="tests/bootstrap.php"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Pagerfanta Test Suite">
            <directory>./lib/**/Tests</directory>
            <directory>./lib/Adapter/**/Tests</directory>
            <directory>./lib/Adapter/Doctrine/**/Tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
        <exclude>
            <directory>./lib/**/Tests</directory>
            <directory>./lib/Adapter/**/Tests</directory>
            <directory>./lib/Adapter/Doctrine/**/Tests</directory>
        </exclude>
    </coverage>

    <!-- <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners> -->

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[indirect]=3&amp;max[direct]=17"/>
    </php>
</phpunit>
